@using TaskManager.ASPMVC.Models.User

@model UserRegisterForm

<form method="post">
    <div>
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" class = "form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Password" class="form-label"></label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="ConfirmPassword" class="form-label"></label>
        <input asp-for="ConfirmPassword" class="form-control" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <div>
        <button type="submit" class="btn btn-primary">S'enregistrer</button>
        <a asp-action="Index" asp-controller="Home" class="btn btn-secondary">Revenir à l'accueil</a>
    </div>
</form>

